{{outlet}}
<br />
<br />

<div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            {{#if user.avatar}}
            <img src={{user.avatar}} alt="" class="img-rounded img-responsive" />
            {{else}}
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
            {{/if}}
          </div>
          <div class="col-sm-6 col-md-8">
            <h3>{{user.name}}</h3>
            <span class="label label-primary">Primary</span>
            <br />
            <small><cite title="San Francisco, USA">{{user.city}} <i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:{{user.email}}">{{user.email}}</a>
              <br />
              <i class="glyphicon glyphicon-phone"></i> <a href="tel:{{user.phone}}">{{user.phone}}</a>
              <br />
              <!-- <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a> -->
              <i class="glyphicon glyphicon-gift"></i>{{user.DOB}}</p>
            <!-- Split button -->
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-primary">
                Social</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span><span class="sr-only">Social</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Twitter</a></li>
                <li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>
                <li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>
                <li class="divider"></li>
                <li><a href="#">Github</a></li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" style="cursor: pointer;" id="sizing-addon1" {{action 'submitNotes'}}>+</span>
        {{input type="hidden" value=user valueBinding=user.id class="form-control" aria-controls="existing-user-table" placeholder="Notes..." aria-describedby="sizing-addon1"}}
        {{input action="submitNotes" value=content class="form-control" aria-controls="existing-user-table" placeholder="Notes..." aria-describedby="sizing-addon1"}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-md">
          {{#each user.notes as |note|}}
            - {{note.content}}
            <br />
          {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1" {{action 'submitAction'}}>+</span>
        {{input type="hidden" value=user valueBinding=user.id class="form-control" aria-controls="existing-user-table" placeholder="Notes..." aria-describedby="sizing-addon1"}}
        {{input action="submitAction" value=timeLineContent class="form-control" aria-controls="existing-user-table" placeholder="Actions..." aria-describedby="sizing-addon1"}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <ul class="timeline">
          <li class="time-label">
              <span class="bg-red">
                  10 Feb. 2014
              </span>
          </li>
          {{#each user.actions as |action|}}
            <li>
              <i class="fa fa-envelope bg-blue"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header">Support Team</h3>
                <div class="timeline-body">
                  {{action.content}}
                </div>
              </div>
            </li>
          {{/each}}


        </ul>
      </div>


  </div>
</div>
